

    section { 
    background-color: #88c1d0;
    width: 40vw;
    height: 200px;
    }

.box {
    display: flex;
    justify-content: space-evenly;
   gap:50px;
}

@media screen and (min-width: 768px) and (max-width:1599px){
    section { 
    background-color: #88c1d0;
    width: 40vw;
    height: 200px;
    max-width: 500px;
    }
    .box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}
}

@media screen and (max-width: 767px)

{
    section { 
        background-color: #88c1d0;
        width: 40vw;
        height: 200px;
        max-width: 500px;
        }


    .box {
       display: flex;
       align-items: center;
       flex-direction: column;
       gap:50px;
}
 }





  


    
